<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.durgesh.schoolassist">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="School Assist"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Teacher1Activity"></activity>
        <activity android:name=".TeacherRoot" />
        <activity android:name=".Exam" />
        <activity android:name=".CasePresentation" />
        <activity android:name=".Interpersonal" />
        <activity android:name=".Interview" />
        <activity android:name=".OPDSkills" />
        <activity android:name=".OPDClinicalActivity" />
        <activity android:name=".OCEXActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up" />
        <activity
            android:name=".TakeQuizActivity"
            android:label="Take Quiz" />
        <activity
            android:name=".TeacherActivity"
            android:label="Teacher" />
        <activity
            android:name=".RubricsActivity"
            android:label="Rubrics" />
        <activity
            android:name=".QuizActivity"
            android:label="Quiz" />
        <activity
            android:name=".PracticalsActivity"
            android:label="Practicals" />
        <activity
            android:name=".StudentActivity"
            android:label="Student" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Login" />
    </application>

</manifest>