<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.durgesh.schoolassist">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="School Assist"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CasePresentationForTheoryRubrics" android:label="Case Presentation"/>
        <activity android:name=".JournalClub" android:label="Journal Club" />
        <activity android:name=".SeminarEvaluation" android:label="Seminar Evaluation"/>
        <activity android:name=".Vit" android:label="Vitrectomy"/>
        <activity android:name=".Trab" android:label="Trabeculectomy"/>
        <activity android:name=".Stram" android:label="Strabismus"/>
        <activity android:name=".SICS" android:label="SICS"/>
        <activity android:name=".Ptosis" android:label="Ptosis"/>
        <activity android:name=".Phaco" android:label="Phaco"/>
        <activity android:name=".PCS" android:label="Paediatric Cataract Surgery"/>
        <activity android:name=".LTS" android:label="LTS"/>
        <activity android:name=".Teacher1Activity" android:label="Upload Question"/>
        <activity android:name=".TeacherRoot" android:label="Teacher Home" />
        <activity android:name=".Exam" android:label="Exam"/>
        <activity android:name=".CasePresentation" android:label="Case Presentation"/>
        <activity android:name=".Interpersonal" android:label="Interpersonal Skills"/>
        <activity android:name=".Interview" android:label="Interview Skills"/>
        <activity android:name=".OPDSkills" android:label="OPD Skills"/>
        <activity android:name=".OPDClinicalActivity" android:label="OPD Clinical Skills"/>
        <activity android:name=".OCEXActivity" android:label="OCEX"/>
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up" />
        <activity
            android:name=".TakeQuizActivity"
            android:label="Take Quiz" />
        <activity
            android:name=".TeacherActivity"
            android:label="Assessment" />
        <activity
            android:name=".RubricsActivity"
            android:label="Rubrics" />
        <activity
            android:name=".QuizActivity"
            android:label="Theory Rubrics" />
        <activity
            android:name=".PracticalsActivity"
            android:label="Practicals" />
        <activity
            android:name=".StudentActivity"
            android:label="Student Home" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Login" />
        <activity android:name=".Pop" android:theme="@style/AppTheme.CustomTheme"/>
        <activity android:name=".Pop1" android:theme="@style/AppTheme.CustomTheme"/>
    </application>


</manifest>